<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br />
      <h2>Søkeresultat for "{{query}}"</h2>
    </div>
    <div class="col-sm-12">
      <mat-progress-spinner *ngIf="loading" [diameter]="25" mode="indeterminate"></mat-progress-spinner>
      <div class="alert alert-info" role="alert" *ngIf="!loading">
        <h3>Antall treff: {{totalHits}}</h3>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="searchResults">
      <ul class="list-group" *ngFor="let obj of results | paginate: { itemsPerPage: 10, currentPage: page }">
        <li class="list-group-item">
          <a [routerLink]="['/profile', obj.cristinID]">{{obj.firstName}} {{obj.lastName}}</a>
          <p class="url">http://dotnet.cs.hioa.no/app/profile/{{obj.cristinID}}</p>
          <p class="text-muted">
            {{obj.affiliation.position | unknown}} ved
            {{obj.affiliation.institution | unknown}},
            {{obj.affiliation.institute | unknown}}
          </p>
        </li>
      </ul>
      <div class="row justify-content-center">
        <pagination-controls previousLabel="Tilbake" nextLabel="Neste" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
