
<h1>Søkeresultat for "Lorum"</h1>
  <p>antall treff ?</p>


<div class="col-sm-10">
  <table class = "table table-hover table-light">
    <thead class="thead-light">
      <tr>
        <th>
          <h3>Navn</h3>
        </th>
        <th>
          <h3>Posisjon</h3>
        </th>
        <th>
          <h3>Institusjon</h3>
        </th>
        <th>
          <h3>Institutt</h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class = "clickable" style="cursor:pointer" *ngFor="let obj of results  |  paginate: { itemsPerPage: 10, currentPage: p }"  [routerLink]="['/profile', obj.cristinID]">
        <td class="text-primary">
          {{obj.firstName}} {{obj.lastName}}
        </td>
        <td class="text-primary">
          {{obj.affiliation?.position}}
        </td>
        <td class="text-primary">
          {{obj.affiliation?.institution}}
        </td>
        <td class="text-primary">
          {{obj.affiliation?.institute}}
        </td>
        </tr>
    </tbody>
  </table>
  <pagination-controls previousLabel="Tilbake" nextLabel="Neste" (pageChange)="p = $event"></pagination-controls>
</div>
