<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4b0b2e7e-0bf2-47e1-9749-772aa37063b0/resourcegroups/an2n/providers/Microsoft.Web/sites/App20180411105445</ResourceId>
    <ResourceGroup>an2n</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://app20180411105445.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>app20180411105445.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>App20180411105445</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$App20180411105445</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=an2nserver.database.windows.net;Initial Catalog=db;User ID=an2n;Password=Kongen0704" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="App.Models.dbEntities, App" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.dataModel.csdl|res://*/Models.dataModel.ssdl|res://*/Models.dataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=an2nserver.database.windows.net;Initial Catalog=db;User ID=an2n;Password=Kongen0704"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>