



<div class="container-fluid col-sm-5">
  <br />
  <h2>Hva er denne tjenesten?</h2>
  <hr />

  <p class="text-justify">
    Tjenesten er laget i forbindelse med en bacheloroppgave ved Oslo Metropolitan University.
    Av en behovsanalyse bachelorgruppen utførte internt på universitetet fant vi ut at det var et behov
    for å finne relevante og habile forskere. Dette er vårt svar på denne etterspørselen.
    Tjenesten er først og fremst et konsept, som skal kunne vise at det eksisterer muligheter for
    å dekke denne etterspørselen.
  </p>

  <p class="text-justify">
    I denne tjenesten kan du finne ut hva en akademiker faktisk forsker på og den sitt tilhørende forskningsmiljø.
    Dette åpner for muligheter for å finne relevante forskere med like interesser.
  </p>

  <p class="text-justify">
    Vi jobber på en database fra et tidligere prosjekt:
    <a href="http://forskningsindeksen.vlab.cs.hioa.no/">Forskningsindeksen</a>.
    Denne databasen stammer fra deres webscrapping av den norske forskningsportalen
    cristin.no.
  </p>

  <p class="text-justify">
    Forskningsmiljø vil bli generert live fra databasen og vil derfor bruke litt ekstra tid på beregninger.
  </p>

  <p class="text-justify">
    For å kvalitetsikre et forskningsmiljø og til hensyn til lagringskapasitet
    har vi satt et krav at en forsker minst skal ha 3 engelsk skrevende artikler i databasen.
  </p>

  <p class="text-justify">
    For å skape konkurranse i forskningsmiljøene har vi brukt et poengsystem
    der vi sammenligner antall publikasjoner og  samlet kvalitetsverdi. Dette kan også gi en pekepinn
    til førstemanuiser om hva som skal til for å søke opprykk..
    Du kan lese mer om poengsystemet vi bruker i scatter plot visualiseringen vår her: ...
  </p>

  <p class="text-justify">
    Om oppdragisgiver
  </p>

  <p class="text-justify">
    Om oss
  </p>

</div>
