<div class="container-fluid">
  <h2>Running Angular: 5.2.9</h2>
  <hr />
  <ul>
    <li>
      Angular er oppdatert - se package.json
    </li>
    <li>
      <a href="https://ng-bootstrap.github.io/#/home">Installert ng-bootstrap</a>
    </li>
    <li>
      Installert og satt opp routing:
      <a routerLink="/home">Home</a>,
      <a routerLink="/about">About</a>
    </li>
    <li><a href="https://www.youtube.com/watch?v=Nehk4tBxD4o">Bra video om routing</a></li>
    <li>
      <a href="https://www.npmjs.com/">Npm bibliotek</a>
    </li>
    <li>
      npm kommandoer<br />
      <ul>
        <li>
          <code>ng build</code>
        </li>
        <li>
          <code>ng build --watch</code>
        </li>
        <li>
          <code>ctrl + c (y)</code>
        </li>
        <li>
          <code>ng g c komponent_navn</code>
        </li>
        <li>
          <code>npm install/uninstall .. --save</code>
        </li>
        <li>
          <code>ng -v</code>
        </li>
        <li>
          <code>ng serve</code>
        </li>
      </ul>
    </li>
    <li><a href="https://codehandbook.org/how-to-implement-auto-complete-in-angular-4/">Mulig autocomplete</a></li>
    <li>
      <a href="https://dotnetthoughts.net/how-to-use-angular4-wth-aspnet-mvc/">Følgte denne guiden</a>
      <ul>
        <li>Dette ligner veldig på det vi gjorde i webapp</li>
        <li>Bootstrap 4.0 fikk jeg ikke til, valgte bare å inkludere den som cdn for nå</li>
      </ul>
    </li>
  </ul>
</div>

<app-search></app-search>

<router-outlet></router-outlet>
