
<div *ngIf="alertMessage">
  <ngb-alert *ngIf="!closed" (close)="closed = true">
    <p class="text-muted">
      Hei, vi vil gjøre oppmerksom på at denne applikasjonen ikke er optimalisert for din
      <strong> {{this.device.device}} </strong> enhet.
    </p>
  </ngb-alert>
</div>

<div *ngIf="showSearchBar">
  <app-topnav></app-topnav>
  <div class="container">
    <div class="col-3" id="index-search">
      <ngbd-typeahead-http></ngbd-typeahead-http>
    </div>
  </div>
</div>

<div *ngIf="!showSearchBar">
  <app-topnav [default]="!showSearchBar"></app-topnav>
</div>

<router-outlet></router-outlet>

