
<div class="row">
  <div class="col-sm-4">
    <lottie-animation-view [options]="lottieConfig"
                           [width]="200"
                           [height]="200" (animCreated)="setSpeed($event)">
    </lottie-animation-view>
  </div>
  <div class="col-sm-4">
    <lottie-animation-view [options]="lottieConfig3"
                           [width]="200"
                           [height]="200"
                           (animCreated)="setSpeed($event)">
    </lottie-animation-view>
  </div>
  <div class="col-sm-4">
    <lottie-animation-view [options]="lottieConfig2"
                           [width]="200"
                           [height]="200" (animCreated)="setSpeed($event)">
    </lottie-animation-view>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="text-center">
      <p class="text-muted">Vi har ny data for over 20.000 norske forskere</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <p class="text-muted">
        Se hvordan du ligger an og knytt nye relasjoner ved å benytte søke feltet over
      </p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <p class="text-muted">Hver forsker sammenlignes med sitt unike forskningsmiljø</p>
    </div>
  </div>
</div>
  


