@using System.Web.Optimization

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">    
</head>
<body>
    <div class="container-fluid bg-light">
    <div class="container bg-light">
        <app-root></app-root>
    </div>
        </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>