@using System.Web.Optimization

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
     <base href="/" /> 
     <!--<base href="/app/" />-->

    <meta name="viewport" content="width=device-width" />
    <!--<link rel="icon" type="image/png" sizes="192x192" href="~/img/android-icon-36x36.png">-->

    <title>Index</title>

    <!--Styles-->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/custom.css">
    <link rel="stylesheet" href="~/Content/indigo-pink.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>
<body>
        <app-root></app-root>
        @Scripts.Render("~/Script/Bundles")
</body>
</html>