@using System.Web.Optimization

@{ Layout = null; }
@{ var @angular = "@angular"; }
<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

    <!--Styles-->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/custom.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link href="Ng5/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

</head>
<body>
    <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>