@using System.Web.Optimization

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/custom.css">

    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>
<body>
        <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>