@using System.Web.Optimization

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />

    <title>Opprykksportalen</title>

    <!--Favicon-->
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />

    <!--Styles-->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/custom.css">
    <link rel="stylesheet" href="~/Content/indigo-pink.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118309785-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-118309785-1');
    </script>
</head>
<body>
    <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>