@using System.Web.Optimization

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>