
<!---
<div class="form-group">
  <label for="typeahead-http">Søk etter en forsker:</label>
  <div>
    <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Søk etter en forsker..." />
  </div>
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>
    -->

<hr>
<pre>Model: {{ model | json }}</pre>

<h3>Google Material Autocomplete</h3>
<mat-form-field>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of Data" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>
