<div class="container-fluid" id="userinfo">
  <div class="row">
    <div class="col-sm">
      <app-userinfo [input]="cristinID"></app-userinfo>
    </div>
    <div class="col-sm">
      <app-wordcloud [input]="cristinID" (activeCloud)="setActive($event)"></app-wordcloud>
    </div>
    <div *ngIf="showMessage">
      <h3 class="text-danger">Ikke nok engelskspråkelige arbeider</h3>
      <hr />
      <p>Denne profilen har ikke nok engelskspråkelige arbeider.</p>
      <p>Du kan lese mer om de ulike kravene i seksjonen  <a routerLink="/about">"Om tjenesten"</a></p>
    </div>
  </div>
</div>

<div *ngIf="activeProfile">
  <app-scatter [input]="cristinID" [ready]="showContent" (showPlot)="setPlotState($event)"></app-scatter>
  <div class="container-fluid" id="relevance">
    <div class="row">
      <div class="col-sm">
        <app-relevance [input]="cristinID" [ready]="showContent" (showTable)="setTableState($event)"></app-relevance>
      </div>
    </div>
  </div>
</div>
