<div class="container" id="scatter" *ngIf="ready">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
        <h1><strong>Forskningsmiljø</strong></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <google-chart #cchart [data]="chartData"></google-chart>
    </div>

    <div class="col-sm">
      <mat-list>
        <mat-list-item><span class="circle1 mr-1"></span> {{person}} </mat-list-item>
        <mat-list-item><span class="circle2 mr-1"></span> Toppstillinger </mat-list-item>
        <mat-list-item><span class="circle3 mr-1"></span> Andre stillinger </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm offset-sm-1">
      <mat-button-toggle-group>
        <mat-button-toggle value="on" (change)="logChange($event)" [checked]="checked">log-lineær</mat-button-toggle>
        <mat-button-toggle value="off" (change)="logChange($event)">lineær</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-sm">
      <div class="text-center">
        <button type="button" class="btn btn-primary rounded-circle" (click)="isCollapsed = !isCollapsed">?</button>
        <p class="text-muted" [ngbCollapse]="isCollapsed">
          I visualiseringen kan man se forskere som er relevante i forhold til <strong>{{person}}</strong>
          sin ordsky. Hver relevante forsker sammenlignes på
          kvalitet og antall publikasjoner.
        </p>
      </div>
    </div>
  </div>
</div>
