.mat-button-toggle {
  height: 2em;
}

.mat-button-toggle {
  color: black;
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #FFC107;
}

.badge-warning {
  background-color: #ffbd45;
}
.badge-primary {
  background-color: #0077C2;
}
.badge-info {
  background-color: #80D6FF;
}
