<div class="container-fluid" id="scatter" *ngIf="ready">
  <div class="col-sm">
    <div class="col text-center">
      <h1><strong>Forskningsmiljø</strong></h1>
    </div>
    <div class="container">


      <switch [status]="value"
              [onText]="onText"
              [offText]="offText"
              [onColor]="onColor"
              [offColor]="offColor"
              (statusChange)="logChange($event)"></switch>

      <google-chart #cchart [data]="scatterChartData"></google-chart>
    </div>
  </div>
</div>
