.mat-button-toggle {
  height: 2em;
}

.mat-button-toggle {
  color: black;
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #42a5f4;
  color: #fff;
}


.circle1 {
  height: 1em;
  width: 1em;
  background-color: #ffbd45;
  border-radius: 50%;
  display: inline-block;
}

.circle2 {
  height: 1em;
  width: 1em;
  background-color: #0077C2;
  border-radius: 50%;
  display: inline-block;
}

.circle3 {
  height: 1em;
  width: 1em;
  background-color: #80D6FF;
  border-radius: 50%;
  display: inline-block;
}

.info {
  height: 42px;
  width: 42px;
  stroke: #80D6FF;
  fill: transparent;
}

.info:hover {
  stroke: #42A5F5;
  fill: white;
  cursor: pointer;
}


:host /deep/ .tooltip-inner {
  background-color: #F5F5F6;
  color: #000000;
}

