.mat-button-toggle {
  height: 2em;
}

.mat-button-toggle {
  color: black;
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #FFC107;
}


.circle1 {
  height: 1em;
  width: 1em;
  background-color: #ffbd45;
  border-radius: 50%;
  display: inline-block;
}

.circle2 {
  height: 1em;
  width: 1em;
  background-color: #0077C2;
  border-radius: 50%;
  display: inline-block;
}

.circle3 {
  height: 1em;
  width: 1em;
  background-color: #80D6FF;
  border-radius: 50%;
  display: inline-block;
}
