.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: darkorange;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: darkorange;
}

.mat-button-toggle {
  height: 2em;
}

.mat-button-toggle {
  color: black;
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #42a5f4;
  color: #fff;
}


