.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: #ffbd45;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffbd45;
}

.mat-button-toggle {
  height: 2em;
}

.mat-button-toggle {
  color: black;
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #42a5f4;
  color: #fff;
}

.info {
  height: 42px;
  width: 42px;
  stroke: #80D6FF;
  fill: transparent;
}

.info:hover {
  stroke: #42A5F5;
  fill: white;
  cursor: pointer;
}

