<div *ngIf="ready">
  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>

  <div class="container-fluid" id="relevance">
    <div class="row">
      <div class="col-sm">
        <div class="text-center">
          <h1><strong>Relaterte Fagpersoner</strong></h1>
        </div>
      </div>
      <div class="col-sm-1 float-right">
        <i-info class="info float-right" placement="left"
                ngbTooltip="Tabellen viser hvor god match en forsker er for {{meta}} sitt forskningsmiljø.
                            Tabbelen kan sorteres."></i-info>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Sorter etter:
        <mat-form-field>
          <mat-select placeholder="{{placeholder}}"  [(ngModel)]="selected" [formControl]="selectControl" (selectionChange)="sortData($event)">
            <mat-option [value]="selected">Alle</mat-option>
            <mat-optgroup *ngFor="let data of dataList" [label]="data.name">
              <mat-option *ngFor="let role of data.role" [value]="role.value">
                {{ role.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="table-responsive-sm">
          <table class="table table-hover table-light">
            <thead>
              <tr>
                <th>Match</th>
                <th>Forsker</th>
                <th>Posisjon</th>
                <th>Institusjon</th>
                <th>Institutt</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of dataTable |
                          callback: showFilter : valueNeutrality : valueEnviroment |
                          paginate: { itemsPerPage: 10, currentPage: page }"
                  (click)="navigate(person.cristinID)"
                  style="cursor:pointer"
                  title="Besøk {{person.firstName}} {{person.lastName}} sin profil">
                <td><ngb-rating [rate]="person.similarities" [starTemplate]="t"></ngb-rating></td>
                <td>{{person.firstName}} {{person.lastName}}</td>
                <td>{{person?.position}}</td>
                <td>{{person?.institution}}</td>
                <td>{{person?.institute}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center">
          <pagination-controls previousLabel="Tilbake" nextLabel="Neste" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


