<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div *ngIf="showTable">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="neutrality">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="true"> Habil
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false"> Inhabil
    </label>
  </div>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="enviroment">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="true"> Intern
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false"> Ekstern
    </label>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Relevans</th>
        <th>Forsker</th>
        <th>Posisjon</th>
        <th>Institusjon</th>
        <th>Institutt</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor:pointer" (click)="navigateToProfile(person.cristinID)"
          *ngFor="let person of dataTable | callback: neutrality : enviroment |  paginate: { itemsPerPage: 10, currentPage: page }"
          title="Gå til {{person.firstName}} {{person.lastName}}">
        <td>
          <ngb-rating [rate]="person.similarities" [starTemplate]="t"></ngb-rating>
        </td>
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person?.position}}</td>
        <td>{{person?.institution}}</td>
        <td>{{person?.institute}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls previousLabel="Tilbake" nextLabel="Neste" (pageChange)="page = $event"></pagination-controls>
</div>

